*{
    box-sizing: border-box;
}

.superInput {
    border-radius: 5px;
    outline: 3px double #a48bd9;
    height: 20px;
    width: 180px;
    overflow: hidden;
    border: none;
    margin: 5px 0;
    padding: 2px;
}

.errorInput {
    outline: 3px double red;
    background-color: #fff4e2;
}

.error {
    color: red;
}