.registrationError {
    height: 30px;
    color: red;
    text-align: center;
}

.navigateToLogin {
    padding: 20px 0 0 10px;
}

.formGroup {
    padding-bottom: 20px
}

.textField {
    height: 65px;
}

.formLabel {
    text-align: center;
}

.nameForm {
    font-weight: bold;
    font-size: x-large;
    padding-top: 10px;
}

.descriptionForm {
    padding-top: 5px;
}

.mainContainer {
    margin: 0 auto;
    width: 30%;
    height: 100%;
}